* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
:root {
  --pink:rgba(255, 3, 90, 0.8);
  --white: #fff;
  --normal-dark: #333;
  --gray: #999;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
section{
  padding: 2rem 9%;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 4rem;
  background: rgb(66, 66, 66);
  padding: .9rem 3rem;
  cursor: pointer;
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
}
.btn:hover{
  background-color: var(--pink);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header a {
  text-decoration: none;
}
header .logo {
  font-size: 3rem;
  color: var(--normal-dark);
  font-weight: bolder;
}
header .logo span {
  color: var(--pink);
}
header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
  text-decoration: none;
}
header .navbar a:hover {
  color: var(--pink);
}
header .icons a {
  font-size: 2.5rem;
  color: var(--normal-dark);
  margin-left: 1.5rem;
}
header .icons a:hover {
  color: var(--pink);
}
header #toggler{
    display: none; 
}
header .fa-bars{
    font-size: 3rem;
    color: var(--normal-dark);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0, 0, 0, .3);
    display: none;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(./img/jeremy-bezanger-quPvNq7Y_sc-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 50rem;

}
.home .content h3{
    font-size: 6rem;
    color: rgb(63, 63, 63);
    padding: 1rem  0;
    line-height: 1.5;
}
.home .content span{
    font-size: 3.5rem;
    color:var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}
.home .content p{
    font-size: 1.5rem;
    color: var(--gray);
    padding: 1rem 0;
    line-height: 1.5;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--normal-dark);
  padding: 1rem;
  margin: .5rem 0;
  background: rgba(0, 0, 0, .05);
}

.heading span{
  color: var(--pink);
}
.about .row{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 3rem 0;
  padding-bottom: 3rem;
}
.about .row .video-container{
  flex:1 1 40rem;
  position: relative
}
.about .row .video-container video{
  height: 100%;
  width: 100%;
  border: 1.5rem solid var(--white);
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  object-fit: cover;
}
.about .row .video-container h3{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: var(--white);
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  mix-blend-mode: screen;
}
.about .row .content{
  flex: 1 1 40rem;
}
.about .row .content h3{
  font-size: 3rem;
  color: var(--normal-dark);
}
.about .row .content p{
  font-size: 1.5rem;
  color: var(--gray);
  padding: .5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}


/*----- MEDIA QUEIES -----*/
@media (max-width:991px){
    html {
        font-size: 55%;
       
      }
      header{
        padding: 2rem;
      }
      section{
        padding: 2rem;
      }
      .home{
        background-position: left;
      }

}
@media (max-width:768px){
    header .fa-bars{
        display: block;
    }
    header  .navbar{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: var(--white);
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header #toggler:checked ~ .navbar{
      clip-path: polygon(0 0,100% 0,100% 100%, 1% 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: var(--white);
        border: .1rem solid rgba(0, 0, 0, .1r);
        display: block;
    }
    .home .content h3{
        font-size: 5rem;
    }
    .home .content span{
        font-size: 3rem;
    }
}
@media (max-width:450px){
    html {
        font-size: 50%;
       
      }

}


